/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    ul, ol {
        list-style: revert;
    }
    li {
        padding-left: 5;
        padding-right: 5;
    }
}